* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

header, footer {
    text-align: center;
    color: white;
}

header, footer {
    background: red;
}

header {
    outline: 15px solid blue;
    position: absolute;
    width: 100%;
}

section h1 {
    background-color: blue;
    padding: 1rem;
    color: white;
    
}

section ul {
    list-style-type: none;
    color: black;
}

.hero {
    position: absolute;
    width: 100%;
    top: 90px;
}

.area::before {
    content: "Area: ";
    font-weight: bold;
}
.population::before {
    content: "Population: ";
    font-weight: bold;
}
.capital::before {
    content: "Capital: ";
    font-weight: bold;
}
.languages::before {
    content: "Languages: ";
    font-weight: bold;
}
.currency::before {
    content: "Currency: ";
    font-weight: bold;
}
.timezones::before {
    content: "Time Zones: ";
    font-weight: bold;
}
.callingcode::before {
    content: "Calling Code: ";
    font-weight: bold;
}
.TLD::before {
    content: "Internet TLD: ";
    font-weight: bold;
}

@media screen and (min-width: 640px) {
    section {
        position: absolute;
        width: 33.3%;
        padding: 1rem;
    }

    section ul {
        background-color: rgba(255, 255, 255, 0.75);
    }

    section h1 {
        text-align: left;
    }

    .data {
        padding-top: 100px;
    }

    .weather {
        padding-top: 100px;
        right: 0;
        top: 200px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}