* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

header, main, footer {
    text-align: center;
}

header, footer {
    background: #fd5656;
}

section ul {
    list-style-type: none;
}